<%= form_with(model: post, :html => { :multipart => true }) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>

  
    
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <ul>
  <%= form.fields_for :post_attachments,:html => { :multipart => true } do |p| %>
    <div class="field">
      <%= p.label :avatar %><br>
      
      <%= p.file_field :avatar,  name: "post_attachments[avatar][]" %>
    </div>
  <% end %>
  </ul>

  

  <div>
    <%= form.submit %>
  </div>
<% end %>
